<a href="https://colab.research.google.com/github/adarshkumar00/Asknbid_project/blob/master/AsknBid_stocks_price_predict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [37]:
import pandas as pd
import numpy as np

In [38]:
df1 = pd.read_csv("/content/drive/My Drive/Colab Notebooks/asknbid dataset/fundamentals.csv")
df2 = pd.read_csv("/content/drive/My Drive/Colab Notebooks/asknbid dataset/prices-split-adjusted.csv")
df3 = pd.read_csv("/content/drive/My Drive/Colab Notebooks/asknbid dataset/prices.csv")
df4 = pd.read_csv("/content/drive/My Drive/Colab Notebooks/asknbid dataset/securities.csv")
print(list(map(len ,[df1,df2,df3,df4])))

[1781, 851264, 851264, 505]

In [39]:
df1[:100]

    Unnamed: 0 Ticker Symbol  ... Earnings Per Share  Estimated Shares Outstanding
0            0           AAL  ...              -5.60                  3.350000e+08
1            1           AAL  ...             -11.25                  1.630222e+08
2            2           AAL  ...               4.02                  7.169154e+08
3            3           AAL  ...              11.39                  6.681299e+08
4            4           AAP  ...               5.29                  7.328355e+07
..         ...           ...  ...                ...                           ...
95          95          ALXN  ...                NaN                           NaN
96          96          AMAT  ...               0.21                  1.219048e+09
97          97          AMAT  ...               0.88                  1.218182e+09
98          98          AMAT  ...               1.13                  1.218584e+09
99          99          AMAT  ...               1.56                  1.103205e+09

[100 rows x 79 columns]

In [33]:
len(np.unique(np.array(df1)[:,1]))

448

In [83]:

array = np.array(df2)
print(len(np.unique(array[:,1])))
# for symbol in np.unique(array[:,1]):
#     print(len(array[array[:,1]==symbol]))

501

In [5]:
df3.head()

                  date symbol        open  ...         low        high     volume
0  2016-01-05 00:00:00   WLTW  123.430000  ...  122.309998  126.250000  2163600.0
1  2016-01-06 00:00:00   WLTW  125.239998  ...  119.940002  125.540001  2386400.0
2  2016-01-07 00:00:00   WLTW  116.379997  ...  114.930000  119.739998  2489500.0
3  2016-01-08 00:00:00   WLTW  115.480003  ...  113.500000  117.440002  2006300.0
4  2016-01-11 00:00:00   WLTW  117.010002  ...  114.089996  117.330002  1408600.0

[5 rows x 7 columns]

In [7]:
df4.head()

  Ticker symbol             Security  ... Date first added      CIK
0           MMM           3M Company  ...              NaN    66740
1           ABT  Abbott Laboratories  ...       1964-03-31     1800
2          ABBV               AbbVie  ...       2012-12-31  1551152
3           ACN        Accenture plc  ...       2011-07-06  1467373
4          ATVI  Activision Blizzard  ...       2015-08-31   718877

[5 rows x 8 columns]

In [ ]:
np.unique(sorted(np.array(df4)[:,0]))

In [84]:
prices = {}
for symbol in np.unique(array[:,1]):
    prices[symbol]= array[array[:,1] == symbol]

In [16]:

print(prices['A'])

[['2010-01-04' 'A' 22.453504291799998 ... 22.2675250358
  22.625179542199998 3815500.0]
 ['2010-01-05' 'A' 22.324748926999998 ... 22.002861230300002
  22.3319034335 4186000.0]
 ['2010-01-06' 'A' 22.067239628000003 ... 22.002861230300002
  22.174535765399998 3243700.0]
 ...
 ['2016-12-28' 'A' 46.509997999999996 ... 45.68 46.700001 1177300.0]
 ['2016-12-29' 'A' 45.68 ... 45.57 46.0 891000.0]
 ['2016-12-30' 'A' 45.759997999999996 ... 45.380001 45.82 1216100.0]]

In [77]:
for key in prices.keys():
    date = prices[key][0,0];
    prev_date=list(map(int,date.split('-')))
    for date in prices[key][1:,0]:
        date = list(map(int,date.split('-')))
        if ((prev_date[2]<date[2]) and (prev_date[1]==date[1]) and (prev_date[0]==prev_date[0])) or((prev_date[2]>date[2]) and (prev_date[1]<date[1]) and (prev_date[0]==prev_date[0])) or((prev_date[2]>date[2]) and (prev_date[1]>date[1]) and (prev_date[0]<date[0])):
            prev_date = date
        else :
            prev_date=date
            print(date , prev_date)
            print(key  , 'fail')
            break

In [85]:
def data_preprocessing(prices,key, seq_len):
    data = np.array(prices[key][:,2:6])
    data = np.array(data ,dtype  = np.int32)
    data = (data - np.mean(data , axis =0))/np.std(data , axis=0)
    data = (data - np.min(data , axis = 0))/(np.max(data , axis =0)-np.min(data , axis = 0))
    x = []
    y = []
    for i in range(len(data)-seq_len):
        x.append(data[i:i+seq_len])
        y.append(data[i+seq_len])
    prices[key] =[x,y]
    return prices
seq_len=20
for key in prices.keys():
    prices = data_preprocessing(prices ,key, seq_len =20)

In [86]:
import tensorflow as tf
from tensorflow.keras.models import Model

In [113]:
class CustomModel(Model):
    def __init__(self,**kwargs):
        super(CustomModel , self).__init__(**kwargs)
        self.embedding = tf.keras.layers.Embedding(input_dim  = 501 , output_dim=32)
        self.gru1 = tf.keras.layers.GRU(units = 32 , return_state = True)
        self.dense= tf.keras.layers.Dense(units = 4 , activation ='sigmoid')
    def call(self,company_names , inputs ):
        embed_vector = self.embedding(company_names)
        embed_vector = tf.squeeze(embed_vector , axis = 1)
        print(embed_vector.shape)
        gru_output,cell_state = self.gru1(inputs , initial_state=embed_vector)
        output = self.dense(gru_output)
        return output

In [117]:
data = tf.random.uniform(shape =[16,19,1] , dtype = tf.float32)
company_names = tf.random.uniform(shape  = [16,1] ,maxval = 501 )
model = CustomModel()
output = model(company_names , data)
print(output.shape)

(16, 32)
(16, 4)

In [89]:
optimizer = tf.keras.optimizers.Adam(learning_rate = 0.001)
loss_obj = tf.keras.losses.MeanSquaredError()

In [115]:
company_names ={}
company_names = {key:i+1 for i,key in enumerate(prices.keys())}
print(company_names)

{'A': 1, 'AAL': 2, 'AAP': 3, 'AAPL': 4, 'ABBV': 5, 'ABC': 6, 'ABT': 7, 'ACN': 8, 'ADBE': 9, 'ADI': 10, 'ADM': 11, 'ADP': 12, 'ADS': 13, 'ADSK': 14, 'AEE': 15, 'AEP': 16, 'AES': 17, 'AET': 18, 'AFL': 19, 'AGN': 20, 'AIG': 21, 'AIV': 22, 'AIZ': 23, 'AJG': 24, 'AKAM': 25, 'ALB': 26, 'ALK': 27, 'ALL': 28, 'ALLE': 29, 'ALXN': 30, 'AMAT': 31, 'AME': 32, 'AMG': 33, 'AMGN': 34, 'AMP': 35, 'AMT': 36, 'AMZN': 37, 'AN': 38, 'ANTM': 39, 'AON': 40, 'APA': 41, 'APC': 42, 'APD': 43, 'APH': 44, 'ARNC': 45, 'ATVI': 46, 'AVB': 47, 'AVGO': 48, 'AVY': 49, 'AWK': 50, 'AXP': 51, 'AYI': 52, 'AZO': 53, 'BA': 54, 'BAC': 55, 'BAX': 56, 'BBBY': 57, 'BBT': 58, 'BBY': 59, 'BCR': 60, 'BDX': 61, 'BEN': 62, 'BHI': 63, 'BIIB': 64, 'BK': 65, 'BLK': 66, 'BLL': 67, 'BMY': 68, 'BSX': 69, 'BWA': 70, 'BXP': 71, 'C': 72, 'CA': 73, 'CAG': 74, 'CAH': 75, 'CAT': 76, 'CB': 77, 'CBG': 78, 'CBS': 79, 'CCI': 80, 'CCL': 81, 'CELG': 82, 'CERN': 83, 'CF': 84, 'CFG': 85, 'CHD': 86, 'CHK': 87, 'CHRW': 88, 'CHTR': 89, 'CI': 90, 'CINF': 91, 'CL': 92, 'CLX': 93, 'CMA': 94, 'CMCSA': 95, 'CME': 96, 'CMG': 97, 'CMI': 98, 'CMS': 99, 'CNC': 100, 'CNP': 101, 'COF': 102, 'COG': 103, 'COH': 104, 'COL': 105, 'COO': 106, 'COP': 107, 'COST': 108, 'COTY': 109, 'CPB': 110, 'CRM': 111, 'CSCO': 112, 'CSRA': 113, 'CSX': 114, 'CTAS': 115, 'CTL': 116, 'CTSH': 117, 'CTXS': 118, 'CVS': 119, 'CVX': 120, 'CXO': 121, 'D': 122, 'DAL': 123, 'DD': 124, 'DE': 125, 'DFS': 126, 'DG': 127, 'DGX': 128, 'DHI': 129, 'DHR': 130, 'DIS': 131, 'DISCA': 132, 'DISCK': 133, 'DLPH': 134, 'DLR': 135, 'DLTR': 136, 'DNB': 137, 'DOV': 138, 'DOW': 139, 'DPS': 140, 'DRI': 141, 'DTE': 142, 'DUK': 143, 'DVA': 144, 'DVN': 145, 'EA': 146, 'EBAY': 147, 'ECL': 148, 'ED': 149, 'EFX': 150, 'EIX': 151, 'EL': 152, 'EMN': 153, 'EMR': 154, 'ENDP': 155, 'EOG': 156, 'EQIX': 157, 'EQR': 158, 'EQT': 159, 'ES': 160, 'ESRX': 161, 'ESS': 162, 'ETFC': 163, 'ETN': 164, 'ETR': 165, 'EVHC': 166, 'EW': 167, 'EXC': 168, 'EXPD': 169, 'EXPE': 170, 'EXR': 171, 'F': 172, 'FAST': 173, 'FB': 174, 'FBHS': 175, 'FCX': 176, 'FDX': 177, 'FE': 178, 'FFIV': 179, 'FIS': 180, 'FISV': 181, 'FITB': 182, 'FL': 183, 'FLIR': 184, 'FLR': 185, 'FLS': 186, 'FMC': 187, 'FOX': 188, 'FOXA': 189, 'FRT': 190, 'FSLR': 191, 'FTI': 192, 'FTR': 193, 'FTV': 194, 'GD': 195, 'GE': 196, 'GGP': 197, 'GILD': 198, 'GIS': 199, 'GLW': 200, 'GM': 201, 'GOOG': 202, 'GOOGL': 203, 'GPC': 204, 'GPN': 205, 'GPS': 206, 'GRMN': 207, 'GS': 208, 'GT': 209, 'GWW': 210, 'HAL': 211, 'HAR': 212, 'HAS': 213, 'HBAN': 214, 'HBI': 215, 'HCA': 216, 'HCN': 217, 'HCP': 218, 'HD': 219, 'HES': 220, 'HIG': 221, 'HOG': 222, 'HOLX': 223, 'HON': 224, 'HP': 225, 'HPE': 226, 'HPQ': 227, 'HRB': 228, 'HRL': 229, 'HRS': 230, 'HSIC': 231, 'HST': 232, 'HSY': 233, 'HUM': 234, 'IBM': 235, 'ICE': 236, 'IDXX': 237, 'IFF': 238, 'ILMN': 239, 'INTC': 240, 'INTU': 241, 'IP': 242, 'IPG': 243, 'IR': 244, 'IRM': 245, 'ISRG': 246, 'ITW': 247, 'IVZ': 248, 'JBHT': 249, 'JCI': 250, 'JEC': 251, 'JNJ': 252, 'JNPR': 253, 'JPM': 254, 'JWN': 255, 'K': 256, 'KEY': 257, 'KHC': 258, 'KIM': 259, 'KLAC': 260, 'KMB': 261, 'KMI': 262, 'KMX': 263, 'KO': 264, 'KORS': 265, 'KR': 266, 'KSS': 267, 'KSU': 268, 'L': 269, 'LB': 270, 'LEG': 271, 'LEN': 272, 'LH': 273, 'LKQ': 274, 'LLL': 275, 'LLTC': 276, 'LLY': 277, 'LMT': 278, 'LNC': 279, 'LNT': 280, 'LOW': 281, 'LRCX': 282, 'LUK': 283, 'LUV': 284, 'LVLT': 285, 'LYB': 286, 'M': 287, 'MA': 288, 'MAA': 289, 'MAC': 290, 'MAR': 291, 'MAS': 292, 'MAT': 293, 'MCD': 294, 'MCHP': 295, 'MCK': 296, 'MCO': 297, 'MDLZ': 298, 'MDT': 299, 'MET': 300, 'MHK': 301, 'MJN': 302, 'MKC': 303, 'MLM': 304, 'MMC': 305, 'MMM': 306, 'MNK': 307, 'MNST': 308, 'MO': 309, 'MON': 310, 'MOS': 311, 'MPC': 312, 'MRK': 313, 'MRO': 314, 'MSFT': 315, 'MSI': 316, 'MTB': 317, 'MTD': 318, 'MU': 319, 'MUR': 320, 'MYL': 321, 'NAVI': 322, 'NBL': 323, 'NDAQ': 324, 'NEE': 325, 'NEM': 326, 'NFLX': 327, 'NFX': 328, 'NI': 329, 'NKE': 330, 'NLSN': 331, 'NOC': 332, 'NOV': 333, 'NRG': 334, 'NSC': 335, 'NTAP': 336, 'NTRS': 337, 'NUE': 338, 'NVDA': 339, 'NWL': 340, 'NWS': 341, 'NWSA': 342, 'O': 343, 'OKE': 344, 'OMC': 345, 'ORCL': 346, 'ORLY': 347, 'OXY': 348, 'PAYX': 349, 'PBCT': 350, 'PBI': 351, 'PCAR': 352, 'PCG': 353, 'PCLN': 354, 'PDCO': 355, 'PEG': 356, 'PEP': 357, 'PFE': 358, 'PFG': 359, 'PG': 360, 'PGR': 361, 'PH': 362, 'PHM': 363, 'PKI': 364, 'PLD': 365, 'PM': 366, 'PNC': 367, 'PNR': 368, 'PNW': 369, 'PPG': 370, 'PPL': 371, 'PRGO': 372, 'PRU': 373, 'PSA': 374, 'PSX': 375, 'PVH': 376, 'PWR': 377, 'PX': 378, 'PXD': 379, 'PYPL': 380, 'QCOM': 381, 'QRVO': 382, 'R': 383, 'RAI': 384, 'RCL': 385, 'REGN': 386, 'RF': 387, 'RHI': 388, 'RHT': 389, 'RIG': 390, 'RL': 391, 'ROK': 392, 'ROP': 393, 'ROST': 394, 'RRC': 395, 'RSG': 396, 'RTN': 397, 'SBUX': 398, 'SCG': 399, 'SCHW': 400, 'SE': 401, 'SEE': 402, 'SHW': 403, 'SIG': 404, 'SJM': 405, 'SLB': 406, 'SLG': 407, 'SNA': 408, 'SNI': 409, 'SO': 410, 'SPG': 411, 'SPGI': 412, 'SPLS': 413, 'SRCL': 414, 'SRE': 415, 'STI': 416, 'STT': 417, 'STX': 418, 'STZ': 419, 'SWK': 420, 'SWKS': 421, 'SWN': 422, 'SYF': 423, 'SYK': 424, 'SYMC': 425, 'SYY': 426, 'T': 427, 'TAP': 428, 'TDC': 429, 'TDG': 430, 'TEL': 431, 'TGNA': 432, 'TGT': 433, 'TIF': 434, 'TJX': 435, 'TMK': 436, 'TMO': 437, 'TRIP': 438, 'TROW': 439, 'TRV': 440, 'TSCO': 441, 'TSN': 442, 'TSO': 443, 'TSS': 444, 'TWX': 445, 'TXN': 446, 'TXT': 447, 'UAA': 448, 'UAL': 449, 'UDR': 450, 'UHS': 451, 'ULTA': 452, 'UNH': 453, 'UNM': 454, 'UNP': 455, 'UPS': 456, 'URBN': 457, 'URI': 458, 'USB': 459, 'UTX': 460, 'V': 461, 'VAR': 462, 'VFC': 463, 'VIAB': 464, 'VLO': 465, 'VMC': 466, 'VNO': 467, 'VRSK': 468, 'VRSN': 469, 'VRTX': 470, 'VTR': 471, 'VZ': 472, 'WAT': 473, 'WBA': 474, 'WDC': 475, 'WEC': 476, 'WFC': 477, 'WFM': 478, 'WHR': 479, 'WLTW': 480, 'WM': 481, 'WMB': 482, 'WMT': 483, 'WRK': 484, 'WU': 485, 'WY': 486, 'WYN': 487, 'WYNN': 488, 'XEC': 489, 'XEL': 490, 'XL': 491, 'XLNX': 492, 'XOM': 493, 'XRAY': 494, 'XRX': 495, 'XYL': 496, 'YHOO': 497, 'YUM': 498, 'ZBH': 499, 'ZION': 500, 'ZTS': 501}

In [102]:
model=CustomModel()

In [118]:
def grad(model , company_name , x,y ,loss_obj,batch_size=32):
    with tf.GradientTape() as tape:
        company_name=np.tile([company_name],[batch_size,1])
        output = model( company_name, x)
        loss = loss_obj(true_y = y , pred_y = output)
        grads = tape.Gradient(loss , model.trainable_variables)
    return grads,loss

In [120]:
batch_size = 32
epochs=1
for epoch in range (epochs):
    epoch_loss=0
    for key in prices.keys():
        num_batches = len(prices[key][0])//batch_size
        print(num_batches)
        company_loss=0
        for j in range(num_batches):
            x = prices[key][0][j*batch_size : (j+1)*batch_size]
            y = prices[key][1][j*batch_size : (j+1)*batch_size]
            print(len(x), lne(y))
            grads,loss= grad(model,company_names[key],x,y,loss_obj)
            optimizer.apply_gradients(zip(grads , model.trainable_variables))
            company_loss+=loss
        company_loss = company_loss/num_batches
        epoch_loss+=company_loss
    epoch_loss = epoch_loss/len(prices.keys())
    print(epoch_loss)

54

NameError: ignored